h1: {
          fontSize: '24px',
          fontFamily: 'Gill Sans, sans-serif',
          fontWeight: '600',
          color: '#25408E',
          textAlign: 'left',
          margin: '0 0 40px 0px',
          lineHeight: '38px',
          padding: '0px',
          backgroundImage: 'linear-gradient(to right, #ededed 0%, #ededed 94%,  #25408E 100%), linear-gradient(to right, #ededed 0%, #ededed 94%,  #25408E 100%), linear-gradient(to right, #ededed 0%, #ededed 94%, #25408E 100%)',
          backgroundRepeat: 'no-repeat, no-repeat, no-repeat',
          backgroundSize: '100% 5px, 95% 5px, 90% 5px',
          backgroundPosition: '0px calc(50% - 16px), 0px 50%, 0px calc(50% + 16px)'
        },
    h2: {
          paddingTop: '10px',
          fontWeight: '600',
          color: '#25408E',
          fontFamily:'Gill Sans, sans-serif',
          fontSize: '17px'
        },
    h3: {
          fontSize: '13px',
          fontWeight: '600',
          fontStyle: 'italic',
          color: '#000000',
          lineHeight: '15px',
          paddingBottom: '3px',
          fontFamily:'Gill Sans, sans-serif'
        },
    p: {
          fontSize: '13px',
          lineHeight: '18px',
          margin: '0 0 9px 0',
          fontWeight: '300',
          letterSpacing: '0.2px !important',
          fontFamily:'Gill Sans, sans-serif',
        },
    strong: {
          color: '#25408E',
          fontWeight: '600',
          textDecoration: 'underline',
          textUnderlineOffset: '4px',
          textDecorationColor: '#B3B3B3',
          textDecorationThickness: '1.5px'
        },
    ul: {
          margin: '-9px 0 18px 0',
          listStyleType: 'disc',
          listStyleSize: '8px !important',
          paddingLeft: '35px'
        },
    'ul li::marker': {
          fontSize: '12px'
        },
    li: {
          marginBottom: '0px !important'
        },
    'li p': {
          margin: '0px !important',
          padding: '0px !important',
          lineHeight: '0px',
          fontWeight: '300'
        }